[general]
pidfile="burrow.pid"
stdout-logfile="burrow.out"

[logging]
filename="/home/ubuntu/burrow/log/burrow.log"
level="info"

[zookeeper]
servers=[
{% for unit in zoo_units %}
"{{unit}}:{{zoo_port}}",
{% endfor %}
]

[client-profile.myclient]
kafka-version="0.10.1.1"

[httpserver.mylistener]
address=":{{api_port}}"

[cluster.{{cluster}}]
class-name="kafka"
servers=[
{% for unit in kafka_units %}
"{{unit}}:{{kafka_port}}",
{% endfor %}
]

[consumer.myconsumers]
class-name="kafka"
cluster="{{cluster}}"
servers=[
{% for unit in kafka_units %}
"{{unit}}:{{kafka_port}}",
{% endfor %}
]
group-whitelist="{{groups}}"